1- always speak with me in english please untill i told you to explane in arabic
2- dont forget that i dont have any knowledge in codeing and try to be more clear 
3- try to understand the project we work on and try to make it work with no issues 
4- if you dont understand something please ask me to explane it to you
5- if we make new features please make sure to check if there is another file needs to be updated after we add this feature 
